{% extends "base.html" %}
{% block title %}

    <title>Show Page</title>
{% endblock %}
{% block content %}

            <table class="table table-dark table-haver w-50 m-auto mt-5">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Address</th>
                        <th>Payment</th>
                        <th colspan="2" class="text-center"> Action </th>
                    </tr>
                </thead>

                <tbody>
                    {% for product in orders %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.product_name }}</td>
                            <td>{{ product.product_price }}</td>
                            <td>{{ product.product_quan }}</td>
                            <td>{{ product.delivery_address }}</td>
                            <td>{{ product.payment_mode }}</td>
                            <td>
                                <a href="{% url 'update_url' product.id %}">
                                    <button class="btn btn-warning col-12"><i class="bi bi-vector-pen"></i> &nbsp Update </button>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'cancel_url' product.id %}">
                                    <button class="btn btn-warning col-12"><i class="bi bi-trash"></i> &nbsp Delete </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endblock %}